NODE_ENV=development
PORT=5000

# PostgreSQL connection used by app + Prisma client
DATABASE_URL=postgresql://jvdine:jvdine@url.to.your.db/jv_dine?schema=public

# Direct DB connection used by Prisma migrate
DIRECT_URL=postgresql://jvdine:jvdine@url.to.your.db/jv_dine?schema=public
